@page "/user/{author}/about"
@using System.Security.Claims
@model Chirp.Web.Pages.AboutMeModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <h2>About Me</h2>
        <span>This is all the information stored about your <em>Chirp!</em> user:</span>
        <ul class="aboutme-info-list">
            <li><b>Username</b>: @Model.Username</li>
            <li><b>E-mail</b>: @Model.Email</li>
        </ul>
        <details class="aboutme-details" open>
            <summary><b>Posted Cheeps:</b></summary>
            <ul class="aboutme-detail-list">
                @if (@Model.Cheeps.Count == 0)
                {
                    <li><i>No cheeps posted yet.</i></li>
                } 
                @foreach (var cheep in @Model.Cheeps) 
                {
                    <li>
                        <a href="/user/@Model.Username">
                            @Model.Username:
                            @cheep.Text.Substring(0, Math.Min(16, cheep.Text.Length))... 
                            @cheep.DatePosted
                        </a>
                    </li>
                }
            </ul>
        </details>
        <details class="aboutme-details" open>
            <summary><b>Followed Users:</b></summary>
            <ul class="aboutme-detail-list">
                @if (@Model.FollowedUsers.Count == 0)
                {
                    <li><i>Not following any users yet.</i></li>
                }
                @foreach (string username in @Model.FollowedUsers) {
                    <li>
                        <a href="/user/@username">@username</a>
                    </li>
                }
            </ul>
        </details>

        <p>To download all your personal data, press the button below:</p>
        <form method="post">
            <button type="submit" asp-page-handler="DownloadUserData" class="aboutme-download-button">Download ZIP</button>
        </form>

        <p>To delete all your personal data, press the button below:</p>
        <form method="post">
            <button class="aboutme-forget-me-button" type="submit" asp-page-handler="ForgetMe">Forget Me!</button>
        </form>        
    }
</div>