@page "/user/{author}"
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("author");
}

<div>
    <h2> @routeName's Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {   
                <li>
                    <flex-container style="display:flex; height: 100%;">
                        <p style="flex: 0 0 85%; margin: 0;">
                            <strong>
                                <a href="/user/@cheep.AuthorName">@cheep.AuthorName</a>
                            </strong>
                            @cheep.Text
                            <small>&mdash; @cheep.DatePosted</small>
                        </p>
                        @if (User.Identity != null && User.Identity.IsAuthenticated && @cheep.AuthorName == User.Identity.Name)
                        {
                            <form method="post" asp-page-handler="Delete" style="flex: 0 0 15%;">
                                <input asp-for="CheepIdForDeletion" type="hidden" value="@cheep.CheepId">
                                <input type="submit" value="Delete" style="float:right; background:transparent; border-style:none; color:#CC6E6E; cursor:pointer;">
                            </form>
                        }
                    </flex-container>
                </li>
            }
        </ul>

        <div style="
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        ">
            @if (Model.HasPreviousPage)
            {
                <a href="/@routeName/?page=@(Model.CurrentPage - 1)" style="font-size: 20px;">&larr;</a>
            }
            <span style="font-size: 16px;">Page @Model.CurrentPage</span>
            @if (Model.HasNextPage)
            {
                <a href="/@routeName/?page=@(Model.CurrentPage + 1)" style="font-size: 20px;">&rarr;</a>
            }
        </div>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
