@using Chirp.Infrastructure.Services
@using System.Drawing
@using Chirp.Web.Cache

@model CheepDTO

<li class="cheep @(Model.ParentCheepID.HasValue ? "cheep-reply" : "cheep-root")" id="cheep-@Model.CheepId">
    <div class="cheep-container">

        <div class="cheep-header">
            <div class="cheep-header-left">
                <strong><a href="/user/@Model.AuthorName">@Model.AuthorName</a></strong>
                @if (User.Identity is { IsAuthenticated: true } && User.Identity.Name != null && @Model.AuthorName != User.Identity.Name)
                {
                    @if (CheepDataCache.Instance.UserIsFollowing(User.Identity.Name, @Model.AuthorName)) 
                    {
                        <!-- Unfollow Button -->
                        <form method="post" asp-page-handler="Follow" class="cheep-follow-form" data-preserve-scroll="true">
                            <input name="ToggleFollowForUserId" type="hidden" value="@Model.AuthorName">
                            <button type="submit" class="cheep-follow-button cheep-follow-button-unfollow">
                                Unfollow
                            </button>
                        </form>
                    }
                    else
                    {
                        <!-- Follow Button -->
                        <form method="post" asp-page-handler="Follow" class="cheep-follow-form" data-preserve-scroll="true">
                            <input name="ToggleFollowForUserId" type="hidden" value="@Model.AuthorName">
                            <button type="submit" class="cheep-follow-button cheep-follow-button-follow">
                                Follow
                            </button>
                        </form>
                    }
                }
            </div>
            <div class="cheep-like-wrapper">
                @if (User.Identity != null && User.Identity.IsAuthenticated && User.Identity.Name != null)
                {   
                    <form method="post" asp-page-handler="Like" class="cheep-like-form" data-preserve-scroll="true">
                    <input name="CheepIdForLike" type="hidden" value="@Model.CheepId">
                    @if (CheepDataCache.Instance.UserHasLiked(User.Identity.Name, Model.CheepId))
                    {   
                        <!-- Unlike button -->
                        <div class="cheep-likes-container">
                            <span class="cheep-likes-count cheep-likes-count-highlight">@Model.Likes</span>
                            <button type="submit" class="cheep-like-button">
                                <i class="fa fa-thumbs-up cheep-like-icon"></i> <!-- filled thumbs-up icon -->
                            </button>
                        </div>
                    }
                    else
                    {
                        <!-- Like button -->
                        <div class="cheep-likes-container">
                            <span class="cheep-likes-count">@Model.Likes</span>
                            <button type="submit" class="cheep-like-button">
                                <i class="fa cheep-like-icon">&#xf087;</i> <!-- outlined thumbs-up icon -->
                            </button>
                        </div>
                    }
                    </form>
                } else {
                    <div class="cheep-likes-container">
                        <span class="cheep-likes-count cheep-likes-count-inline">@Model.Likes</span> 
                        <i class="fa cheep-like-icon">&#xf087;</i> <!-- outlined thumbs-up icon -->
                    </div> 
                }

            </div>
        </div>
        <div>
            <p id="cheep-text-@Model.CheepId" class="cheep-text" style="display:block;">@Model.Text<small> &mdash; @Model.DatePosted</small></p>
            <div style="display: flex;">
                <partial name="_EditFormPartial" model="Model" />
            </div>
        </div>

        <div class="cheep-action-wrapper">

            @if (User.Identity is { IsAuthenticated: true } && User.Identity.Name != null)
            {
                <div class="cheep-actions">
                    @if (@Model.AuthorName == User.Identity.Name)
                    {
                        <!-- Delete Button -->
                        <form method="post" asp-page-handler="Delete" class="cheep-inline-form" data-preserve-scroll="true">
                            <input name="CheepIdForDeletion" type="hidden" value="@Model.CheepId">
                            <button type="submit" class="cheep-delete-button">
                                Delete
                            </button>
                        </form>
                        <!-- Edit Button -->
                        <button type="button" class="cheep-button cheep-edit-button" onclick="editCheep(@Model.CheepId)">
                            Edit
                        </button>
                    }
                    <!-- Reply Button -->
                    <button class="cheep-button" onclick="toggleReply(@Model.CheepId)">Reply</button>    
                </div>
            }
        </div>

        <!-- Reply Form -->
        <div class="reply-form" id="reply-form-wrapper-@Model.CheepId">
            <partial name="_ReplyFormPartial" model="Model" />
        </div>

        <!-- Replies -->
        @if (Model.Replies.Any())
        {
            <ul class="cheep-children">
                @foreach (var child in Model.Replies)
                {
                    <partial name="_CheepPartial" model="child" />
                }
            </ul>
        }
    </div>
</li>
