@using Chirp.Infrastructure.Services
@using System.Drawing

@model CheepDTO

<li class="cheep" id="cheep-@Model.CheepId" style="margin-left:@(Model.ParentCheepID.HasValue ? "5px" : "0")">
    <flex-container style="display:flex; flex-direction: column; height: 100%;">

        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <div style="display: flex; flex-direction: row;">
                <strong><a href="/user/@Model.AuthorName">@Model.AuthorName</a></strong>
                @if (User.Identity is { IsAuthenticated: true } && User.Identity.Name != null && @Model.AuthorName != User.Identity.Name)
                {
                    @if (CheepDataCache.Instance.UserIsFollowing(User.Identity.Name, @Model.AuthorName)) 
                    {
                        <!-- Unfollow Button -->
                        <form method="post" asp-page-handler="Follow" style="flex: 0 0 15%;">
                            <input name="ToggleFollowForUserId" type="hidden" value="@Model.AuthorName">
                            <input type="submit" value="Unfollow" style="padding-left: 0.5em; float: left; background:transparent; border-style:none; color:#CC6E6E; cursor:pointer; font-size: 14px; font-weight: normal;">
                        </form>
                    }
                    else
                    {
                        <!-- Follow Button -->
                        <form method="post" asp-page-handler="Follow" style="flex: 0 0 15%;">
                            <input name="ToggleFollowForUserId" type="hidden" value="@Model.AuthorName">
                            <input type="submit" value="Follow" style="padding-left: 0.5em; loat: left; background:transparent; border-style:none; color:#59b63d; cursor:pointer; font-size: 14px; font-weight: normal;">
                        </form>
                    }
                }
            </div>
            <small>&mdash; @Model.DatePosted</small>
            <small>&mdash; @Model.Likes</small>
            @if (User.Identity != null && User.Identity.IsAuthenticated)
            {
                <div style="flex: 0 0 10%; margin: 0;">
                    <form method="post" asp-page-handler="Like"
                        style="flex: 0 0 15%;">
                        <input name="CheepIdForLike" type="hidden" value="@Model.CheepId" ,>
                        <input type="submit" value="Like" style="float:right; background:transparent; border-style:none; color:#50CC6E; cursor:pointer;">
                    </form>
                </div>
            }
            <form method="post" asp-page-handler="Like" style="flex: 0 0 15%;">
                <input name="CheepIdForLike" type="hidden" value="@Model.CheepId">
                @if (CheepDataCache.Instance.UserHasLiked(User.Identity.Name, Model.CheepId))
                {
                <input type="submit" value="👎 Unlike"
                    style="float:right; background:transparent; border-style:none; color:#CC6E6E; cursor:pointer; font-weight:bold;">
                }
                else
                {
                <input type="submit" value="👍 Like"
                    style="float:right; background:transparent; border-style:none; color:#50CC6E; cursor:pointer;">
                }
            </form>
        </div>
        <div>
            <p id="cheep_text" style="display:block;">@Model.Text</p>
            <div style="display: flex;">
                <form method="post" asp-page-handler="Edit" style="display: none;" id="cheep_edit">
                    <input name="EditedCheepText" type="text" value="@Model.Text" style="width: 100%;" id="cheep_edit_input" required>
                    <input name="CheepIdForEditing" type="hidden" value="@Model.CheepId">
                    <input type="submit" value="Finish">
                </form>  
            </div>
        </div>

        <div style="flex: 0 0 15%;">

            @if (User.Identity is { IsAuthenticated: true } && User.Identity.Name != null)
            {
                <div style="float: right;">
                    @if (@Model.AuthorName == User.Identity.Name)
                    {
                        <!-- Delete Button -->
                        <form method="post" asp-page-handler="Delete" style="flex: 0 0 15%; display: inline;">
                            <input name="CheepIdForDeletion" type="hidden" value="@Model.CheepId">
                            <input type="submit" value="Delete" style="background:transparent; border-style:none; color:#CC6E6E; cursor:pointer; font-size: 14px; font-weight: normal;">
                        </form>

                        <!-- Edit Button -->
                        <button type="button" class="textButton" onclick="editCheep(@Model.CheepId)" style="color:#b266df;">
                            Edit
                        </button>
                    }
                    <!-- Reply Button -->
                    <button class="textButton" onclick="toggleReply(@Model.CheepId)">Reply</button>    
                </div>
            }
        </div>

        <!-- Reply Form -->
        <div class="reply-form" id="reply-form-wrapper-@Model.CheepId" style="display:none; margin-top:6px;">
            <form method="post" asp-page-handler="Reply" id="reply-form-@Model.CheepId">
                <input type="hidden" name="Reply.CheepID" value="@Model.CheepId"/>
                <textarea id="reply-text-field-@Model.CheepId" name="Reply.Text" required placeholder="Reply..."></textarea>
                <input type="submit" value="Post"/>
            </form>
        </div>

        <!-- Replies -->
        @if (Model.Replies.Any())
        {
            <ul class="cheep-children" style="list-style:none; padding-left:0;">
                @foreach (var child in Model.Replies)
                {
                    @await Html.PartialAsync("_CheepPartial", child)
                }
            </ul>
        }
    </flex-container>
</li>

<style>
    .textButton {
        background:transparent; 
        border-style:none; 
        color:#297eb6; 
        cursor:pointer;
        font-size: 14px;
        font-weight: normal;
        padding: 1px 3px;
        font-family: 'Trebuchet MS', sans-serif;
    }
</style>